@model NationalNeon.Web.ViewModels.TaskDepartmentViewModel
@{
    ViewData["Title"] = "Detail";
}

<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-md-2 actions sortable-grid ui-sortable">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" role="widget">

                <header role="heading">
                    <div class="widget-toolbar" role="menu"><a data-toggle="dropdown" class="dropdown-toggle color-box selector" href="javascript:void(0);"></a><ul class="dropdown-menu arrow-box-up-right color-select pull-right"><li><span class="bg-color-green" data-widget-setstyle="jarviswidget-color-green" rel="tooltip" data-placement="left" data-original-title="Green Grass"></span></li><li><span class="bg-color-greenDark" data-widget-setstyle="jarviswidget-color-greenDark" rel="tooltip" data-placement="top" data-original-title="Dark Green"></span></li><li><span class="bg-color-greenLight" data-widget-setstyle="jarviswidget-color-greenLight" rel="tooltip" data-placement="top" data-original-title="Light Green"></span></li><li><span class="bg-color-purple" data-widget-setstyle="jarviswidget-color-purple" rel="tooltip" data-placement="top" data-original-title="Purple"></span></li><li><span class="bg-color-magenta" data-widget-setstyle="jarviswidget-color-magenta" rel="tooltip" data-placement="top" data-original-title="Magenta"></span></li><li><span class="bg-color-pink" data-widget-setstyle="jarviswidget-color-pink" rel="tooltip" data-placement="right" data-original-title="Pink"></span></li><li><span class="bg-color-pinkDark" data-widget-setstyle="jarviswidget-color-pinkDark" rel="tooltip" data-placement="left" data-original-title="Fade Pink"></span></li><li><span class="bg-color-blueLight" data-widget-setstyle="jarviswidget-color-blueLight" rel="tooltip" data-placement="top" data-original-title="Light Blue"></span></li><li><span class="bg-color-teal" data-widget-setstyle="jarviswidget-color-teal" rel="tooltip" data-placement="top" data-original-title="Teal"></span></li><li><span class="bg-color-blue" data-widget-setstyle="jarviswidget-color-blue" rel="tooltip" data-placement="top" data-original-title="Ocean Blue"></span></li><li><span class="bg-color-blueDark" data-widget-setstyle="jarviswidget-color-blueDark" rel="tooltip" data-placement="top" data-original-title="Night Sky"></span></li><li><span class="bg-color-darken" data-widget-setstyle="jarviswidget-color-darken" rel="tooltip" data-placement="right" data-original-title="Night"></span></li><li><span class="bg-color-yellow" data-widget-setstyle="jarviswidget-color-yellow" rel="tooltip" data-placement="left" data-original-title="Day Light"></span></li><li><span class="bg-color-orange" data-widget-setstyle="jarviswidget-color-orange" rel="tooltip" data-placement="bottom" data-original-title="Orange"></span></li><li><span class="bg-color-orangeDark" data-widget-setstyle="jarviswidget-color-orangeDark" rel="tooltip" data-placement="bottom" data-original-title="Dark Orange"></span></li><li><span class="bg-color-red" data-widget-setstyle="jarviswidget-color-red" rel="tooltip" data-placement="bottom" data-original-title="Red Rose"></span></li><li><span class="bg-color-redLight" data-widget-setstyle="jarviswidget-color-redLight" rel="tooltip" data-placement="bottom" data-original-title="Light Red"></span></li><li><span class="bg-color-white" data-widget-setstyle="jarviswidget-color-white" rel="tooltip" data-placement="right" data-original-title="Purity"></span></li><li><a href="javascript:void(0);" class="jarviswidget-remove-colors" data-widget-setstyle="" rel="tooltip" data-placement="bottom" data-original-title="Reset widget color to default">Remove</a></li></ul></div>
                    <span class="widget-icon"> <i class="fa fa-flash"></i> </span>
                    <h2>Actions </h2>

                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>

                <!-- widget div-->
                <div role="content">

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input class="form-control" type="text">
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body">
                        <input type="hidden" value="@Model.departmentId" id="hdnId" />
                        <button type="button" class="btn btn-warning" id="edit_Department" data-toggle="modal" data-target="#myModal">
                            Edit Department
                        </button><br><br>

                        @*<button type="button" id="delete_department" class="btn btn-danger">
            Delete Department
        </button>*@
                        @*@Html.ActionLink("Delete Department", "Delete", "Department", new { id = Model.departmentId }, new { @class = "btn btn-danger", @id = "delete_department" })*@

                        <button type="button" data-toggle="modal" class="btn btn-danger" data-target="#opener" onclick="setDepartmentID(@Model.departmentId)">Delete Department</button>
                        <!-- this is what the user will see -->

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->
        <article class="col-md-10 department-summary sortable-grid ui-sortable">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-deletebutton="false" data-widget-editbutton="false" role="widget">

                <header role="heading">
                    <div class="jarviswidget-ctrls" role="menu">
                        <a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse">
                            <i class="fa fa-minus "></i>
                        </a> <a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen">
                            <i class="fa fa-expand "></i>
                        </a>
                    </div>
                    <div class="widget-toolbar" role="menu">
                        <a data-toggle="dropdown" class="dropdown-toggle color-box selector" href="javascript:void(0);"></a>
                        <ul class="dropdown-menu arrow-box-up-right color-select pull-right">
                            <li><span class="bg-color-green" data-widget-setstyle="jarviswidget-color-green" rel="tooltip" data-placement="left" data-original-title="Green Grass"></span></li>
                            <li><span class="bg-color-greenDark" data-widget-setstyle="jarviswidget-color-greenDark" rel="tooltip" data-placement="top" data-original-title="Dark Green"></span></li>
                            <li>
                                <span class="bg-color-greenLight" data-widget-setstyle="jarviswidget-color-greenLight" rel="tooltip" data-placement="top" data-original-title="Light Green"></span>
                            </li>
                            <li><span class="bg-color-purple" data-widget-setstyle="jarviswidget-color-purple" rel="tooltip" data-placement="top" data-original-title="Purple"></span></li>
                            <li><span class="bg-color-magenta" data-widget-setstyle="jarviswidget-color-magenta" rel="tooltip" data-placement="top" data-original-title="Magenta"></span></li>
                            <li><span class="bg-color-pink" data-widget-setstyle="jarviswidget-color-pink" rel="tooltip" data-placement="right" data-original-title="Pink"></span></li>
                            <li>
                                <span class="bg-color-pinkDark" data-widget-setstyle="jarviswidget-color-pinkDark" rel="tooltip" data-placement="left" data-original-title="Fade Pink"></span>
                            </li>
                            <li><span class="bg-color-blueLight" data-widget-setstyle="jarviswidget-color-blueLight" rel="tooltip" data-placement="top" data-original-title="Light Blue"></span></li>
                            <li><span class="bg-color-teal" data-widget-setstyle="jarviswidget-color-teal" rel="tooltip" data-placement="top" data-original-title="Teal"></span></li>
                            <li><span class="bg-color-blue" data-widget-setstyle="jarviswidget-color-blue" rel="tooltip" data-placement="top" data-original-title="Ocean Blue"></span></li>
                            <li><span class="bg-color-blueDark" data-widget-setstyle="jarviswidget-color-blueDark" rel="tooltip" data-placement="top" data-original-title="Night Sky"></span></li>
                            <li><span class="bg-color-darken" data-widget-setstyle="jarviswidget-color-darken" rel="tooltip" data-placement="right" data-original-title="Night"></span></li>
                            <li><span class="bg-color-yellow" data-widget-setstyle="jarviswidget-color-yellow" rel="tooltip" data-placement="left" data-original-title="Day Light"></span></li>
                            <li><span class="bg-color-orange" data-widget-setstyle="jarviswidget-color-orange" rel="tooltip" data-placement="bottom" data-original-title="Orange"></span></li>
                            <li><span class="bg-color-orangeDark" data-widget-setstyle="jarviswidget-color-orangeDark" rel="tooltip" data-placement="bottom" data-original-title="Dark Orange"></span></li>
                            <li><span class="bg-color-red" data-widget-setstyle="jarviswidget-color-red" rel="tooltip" data-placement="bottom" data-original-title="Red Rose"></span></li>
                            <li><span class="bg-color-redLight" data-widget-setstyle="jarviswidget-color-redLight" rel="tooltip" data-placement="bottom" data-original-title="Light Red"></span></li>
                            <li><span class="bg-color-white" data-widget-setstyle="jarviswidget-color-white" rel="tooltip" data-placement="right" data-original-title="Purity"></span></li>
                            <li><a href="javascript:void(0);" class="jarviswidget-remove-colors" data-widget-setstyle="" rel="tooltip" data-placement="bottom" data-original-title="Reset widget color to default">Remove</a></li>
                        </ul>
                    </div>
                    <span class="widget-icon"> <i class="fa fa-building"></i> </span>
                    <h2>Department</h2>

                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>

                <!-- widget div-->
                <div role="content">

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input class="form-control" type="text">
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="departments view">
                            <dl>
                                <dt>Name</dt>
                                <dd>
                                    @Model.departmentname &nbsp;
                                </dd>
                                <br />
                                <dt>Description</dt>
                                <dd>
                                    @Model.description &nbsp;
                                </dd>
                                <br />
                                <dt>Created</dt>
                                <dd>
                                    @Model.created_on.ToString("yyyy-MM-dd hh:mm:ss") &nbsp;
                                </dd>
                                <br />
                                <dt>Modified</dt> &nbsp;
                                <dd>
                                    @Model.updated_on.ToString("yyyy-MM-dd hh:mm:ss") &nbsp;
                                </dd>
                                <br />
                                <dt>Work Load</dt>
                                <dd>
                                    <span>Total Budgeted Hours for <b class="font-lg">@Model.departmentname</b> is <b class="font-lg">@Model.BudgetedHours</b></span>
                                </dd>
                            </dl>
                        </div>
                        <!-- this is what the user will see -->

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
    </div>

    <!-- end row -->
    <div class="row">

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="divEditModel">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="opener" role="dialog">
        <div class="modal-dialog" style="width: 320px;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-popup-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">Do You Want To Delete ?</h1>
                </div>
                <div class="modal-body text-center">
                    <h5 style="color:brown">Are you sure you want to delete Department :  @Model.departmentname</h5>
                    <button onclick="deleteDepartment()" class="btn btn-danger form-submit-btn" style="background:#3276b1; border-color:#3276b1">Yes</button>
                    <button data-dismiss="modal" class="btn btn-danger form-submit-btn">No</button>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
            </div>

        </div>
    </div>


    <!-- row -->

</section>

@*<input type="hidden" value="@Model.departmentId" id="hdnId" />*@

@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@

<script>
    $(document).ready(function () {
        var departmentId = 0;
        $('#opener').click(function () {
            departmentId = $(this).attr('departmentId');
            // $('#wrapper').dialog('open');
        });

        $('#edit_Department').on('click', function () {
        $.ajax({
            url: "/Department/Edit",
            data: { Id: $("#hdnId").val()},
            success: function (result) {
                $("#divEditModel").html(result);
            }
            });
        });     
    });
    function setDepartmentID(_departmentId) {
        departmentId = _departmentId;
    }


    $("#divEditModel").delegate('.edit_department_btn', 'click', function () {
        let isValid = true;
        var form = $('#editDepartmentForm').serialize();
        if (form !== undefined) {
            if ($('textarea[name="DepartmentName"]').val() == '' || $('textarea[name="DepartmentName"]').val() == undefined) {
                $("#invalid_departmentname").show();
                isValid = false;
            }
            if ($('textarea[name="Description"]').val() == '' || $('textarea[name="Description"]').val() == undefined) {
                $("#invalid_departmentdescription").show();
                isValid = false;
            }
        }
        if (isValid) {
            $('#divAddPopup [id^="invalid_"]').hide();
            editDepartment(form);
        }               
    });

    function editDepartment(form) {
        $.ajax({
            url: '/Department/Edit',
            type: "POST",
            async: false,
            data: form,
            success: function (result) {
                if (result.success) {
                    $('.close').click();
                    $.notify({
                        title: "<strong>Success:</strong> ",
                        message: "Department Updated Succesfully",
                    },
                        {
                            type: 'info',
                            allow_dismiss: false,
                            showProgressbar: true,
                            delay: '100',
                            newest_on_top: true,
                        });
                }
                setTimeout(() => {
                    window.location.reload();
                    window.location.href = "/Department";
                }, 2000);

            }
        });
    }


    function deleteDepartment() {
        callDelete(departmentId);
        //$(this).parent().parent().parent().hide();
        //$("#" + departmentId).hide();
        //$('#opener').modal('hide')
        //$(".btn btn-danger form-submit-btn").trigger("click");
        //window.location.href = "/Department";
    }

    function callDelete(departmentId) {
        $.ajax({
            type: 'POST',
            url: '/Department/Delete?id=' + departmentId + '',
            success: function (result) {
                if (result.success) {
                    $('.close').click();
                    $.notify({
                        title: "<strong>Deleted:</strong> ",
                        message: "Department Deleted Succesfully",
                    },
                        {
                            type: 'danger',
                            allow_dismiss: false,
                            showProgressbar: true,
                            delay: '100',
                            newest_on_top: true,
                        });
                }
                setTimeout(() => {
                    window.location.reload();
                    window.location.href = "/Department";
                }, 2000);
            }
        })
    }
</script>
